<br>
<div class="row">
<div class="col-md-4 offset-md-2">
    <div class="card">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">Datos personales
                </div>
        <div class="card-body">
                <form>
                <div class="form-group">
                    <input type="email" name="correo" [(ngModel)]="vendedora.correo" placeholder="Correo electrónico" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="vendedora.nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" [(ngModel)]="vendedora.apellido" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" required [(ngModel)]="password" placeholder="Contraseña" class="form-control">
                </div>
                <div class="form-group">
                        <input type="password" name="confirmpassword" required [(ngModel)]="password1" placeholder="Confirmar contraseña" class="form-control">
                    </div>
                <div class="form-group">
                    <input type="date" name="date" [(ngModel)]="vendedora.fecha_nacimiento" placeholder="Fecha de Nacimiento" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="address" [(ngModel)]="vendedora.direccion_entrega" placeholder="Direccion de entrega" class="form-control">
                </div>
                <div class="form-group" class="text-center">
                        <mat-form-field class="input-width" *ngIf="loginservice.isAdminLoggedIn()">
                            <mat-select  placeholder="Estado" name="estado" [(ngModel)]="vendedora.estado">
                                <mat-option selected value="activa"  >Activa</mat-option>
                                <mat-option value="inactiva">Inactiva</mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
            </form>
        </div>  
    </div>
</div>
    <div class="col-md-3">
            <div class="card">
                    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">Teléfonos</div>
                    <div class="card-body">
                            <form [formGroup]="miFormulario">
                            <button class="btn btn-success btn-block" (click)="addTelefono()"><i class="fas fa-phone-square-alt"></i> Agregar telefono</button><br>
                            <div class="form-group">
                                <div formArrayName="telefono">
                                    <div *ngFor="let item of getTelefonos.controls; let i = index;" [formGroupName]="i"> 
                                            <div class="d-flex justify-content-between" align-items-center>
                                        <input formControlName="numero" placeholder=" Telefono"> <input type="hidden" formControlName="idtelefonos"/>
                                        <button class="btn btn-danger" (click)="removeTelefono(i)"> <i class="far fa-trash-alt"></i></button></div><br>
                                </div></div></div>
                            </form>     
                    </div> 
                </div>
            </div>
    <div class="container">
            <div class="col-md-6 offset-md-2"> 
                <br>
        <button class="btn btn-success btn-block" (click)="edit ? updateVendedora() : passwordMatch()">Guardar</button></div>
    </div>
</div>
<!-- <input type="text" name="phone" [(ngModel)]="vendedora.telefono[i].numero" placeholder="Numero" class="form-control"> --> 