<div class="container"><br>
    <div class="d-flex justify-content-between align-items-center">
            <h2>Vendedores actuales</h2>
            <a routerLink="/admin-dashboard/vendedoras/add"> <button class="btn btn-success"><i class="fas fa-user-plus"></i>  Agregar</button></a>
        </div>
        <br>
<div class="row">
<div class="col-md-4" style="margin-bottom:20px" *ngFor="let vendedora of vendedoras">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{vendedora.codigo}} -  {{vendedora.estado}} <button class="btn btn-danger" (click)="deleteVendedora(vendedora.codigo)"><i class="far fa-trash-alt"></i>
            </button>
        </div>
        <div class="card-body">
            <p>{{vendedora.nombre}} {{vendedora.apellido}}<p>
                <a [routerLink]="['/admin-dashboard/vendedoras/edit/', vendedora.codigo]" class="btn btn-info btn-block"> <i class="fas fa-user-cog"> </i> Modificar </a>
        </div>
    </div>
</div>
</div>

</div>
